<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Tracker</title>
    <link rel="stylesheet" href="../public/style/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                TUGAS TRACKER
            </h1>
            <div class="tambah">
                <button id="add">
                    +
                </button>
                <div class="text">
                    New
                </div>
            </div>
        </div>
        <div class="container-filter">
            <div class="filter">
                <span id="label">ALL</span>
                <span id="count">0</span>
            </div>
            <div class="filter">
                <span id="label">OVERDUE</span>
                <span id="count">0</span>
            </div>
            <div class="filter">
                <span id="label">IN PROGRESS</span>
                <span id="count">0</span>
            </div>
            <div class="filter">
                <span id="label">DONE</span>
                <span id="count">0</span>
            </div>
        </div>
        <div id="list-tugas">    
            <!-- <div class="item">
                <div class="text" id="date">
                    <span id="tanggal">28 Okt 2026</span>
                    <span id="waktu">10:00</span>
                </div>
                <div class="text" id="task">
                    <span id="judul">Projek Dasar Pemrograman</span><span class="details">See details</span>
                </div>
                <div class="text">
                    <span id="pin">&#9734;</span>  &#9733; filed star
                </div>
                <button class="btn done">
                    DONE
                </button>
                <button class="btn edit">
                    EDIT
                </button>
                <button class="btn delete">
                    DELETE
                </button>
            </div> -->
        </div>
    </div>
    </div>

    <script src="../public/script/script.js"></script>
    <script src="../public/script/dashboard.js"></script>
</body>
</html>