<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    <title>Add Tugas</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>ADD TUGAS</h1>
        </div>
        <div class="form">
            <form>
                <input type="text" placeholder="Tugas" name="tugas" id="tugas" required/>
                <textarea name="description" id="description" placeholder="Description"></textarea>
                <div class="due">
                    <input type="date" name="date" id="due-date" required/>
                    <input type="time" name="time" id="due-time" required/>
                </div>
                <div class="button">
                    <button type="button" id="cancel">Cancel</button>
                    <button type="submit" id="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

    <script src="../public/script/script.js"></script>
    <script src="../public/script/postTugas.js"></script>
</body>
</html>