<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Edit Tugas</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>EDIT TUGAS</h1>
        </div>
        <div class="form">
            <form>
                <input type="text" placeholder="Tugas" id="tugas">
                <textarea name="" id="description" placeholder="Description"></textarea>
                <div class="due">
                    <input type="date" name="" id="due-date">
                    <input type="time" name="" id="due-time">
                </div>
                <div class="button">
                    <button type="button" onclick="window.location.href = '../index.html'">Cancel</button>
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</body>
</html>